<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome{% endblock %}</title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>

        <div class="container">
            <nav class="nav">
              <li class="nav-link">
                <a href="{% url 'register' %}" class="btn btn-primary">Зарегестрироваться</a>
              </li>
              <li class="nav-link">
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
              </li>
            </nav>
          
            {% block content %}
            {% endblock %}
        </div>

        <div class="container-xl">

        </div>

    </body>

</html>